body{
    font-family: 'Noto Serif', serif;
}
h1{
    font-size: 50px;
}
.pink{
    color: pink;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 8%;
}
.half-width img{
    width: 70%;
}
.explore-now{
    text-decoration: none;
    background-color: pink;
    padding: 12px 30px;
    border-radius: 5px;
}